<div>
    <label>Aircraft model:</label>
    <p><%=@aircraft.model%></p>
    <label>Number of Economy Seats:</label>
    <p><%=@aircraft.economy_seats%></p>
    <label>Number of Business Seats:</label>
    <p><%=@aircraft.business_seats%></p>
    <label>Number of First Class Seats:</label>
    <p><%=@aircraft.first_class_seats%></p>
</div>

<%= link_to "Edit this Aircraft", edit_aircraft_path %>
<%= link_to "Delete Aircraft", aircraft_path(@aircraft), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to Aircraft Index", aircrafts_path %>
