<%= form_for @flight do |f| %>

    <p>
        <%= f.label :flight_number %>
        <%= f.text_field :flight_number %>       
    </p>
    <p>
        <%= f.label :aircraft %>
        <%= f.collection_select :aircraft_id, Aircraft.order(:id), :id, :model %>       
    </p>
    <p>
        <%= f.label :departure_airport %>
        <%= f.collection_select :depart_airport_id, Airport.order(:id), :id, :city %>       
    </p>
    <p>
        <%= f.label :arrival_airport %>
        <%= f.collection_select :arriv_airport_id, Airport.order(:id), :id, :city %>       
    </p>
    <p>
        <%= f.label :date %>
        <%= f.date_field :date %>       
    </p>
    <p>
        <%= f.label :departure_time %>
        <%= f.time_field :depart_time %>       
    </p>
    <p>
        <%= f.label :arrival_time %>
        <%= f.time_field :arriv_time %>       
    </p>

    

    <%= f.submit "Save" %>

<% end %>