<h1> Airport Details </h1>

<div>
<p>
    <label> City: </label>
    <%=@airport.city%>
</p>
<p>
    <label> Country: </label>
    <%=@airport.country%>
</p>
</div>

<%= link_to "Edit this Airport", edit_airport_path %>
<%= link_to "Delete Airport", airport_path(@airport), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to Airport Index", airports_path %>